{% extends 'base.html'%}

{% block content %}

<div class="container text-center">
    <h1>Pick-up Lines</h1>
    <h2><em>Tell them how you really feel boo...</em></h2>
    <a href="{{url_for('main.new_post')}}"><br></a>
    
    </div>



{% for pitch in pitches[::-1]%}
<div class="container">
        <div class="panel bg-light text-center style="style="box-shadow: 5px 5px 5px 5px #f2f2f2; padding:10px;">
            <p>{{pitch.pitch}}</p>
            <!-- <p>{{pitch.category_name}}</p> -->
            <p> Posted on:{{pitch.date}}</p>
        </div>
    </div>
  {% endfor %} 


{% endblock%}